:root {
  --raxframerwebsitemallard: rgba(37, 70, 32, 1);
  --raxframerwebsitenero: rgba(255, 255, 255, 1);
  --raxframerwebsitefern-green: rgba(66, 120, 59, 1);
  --raxframerwebsitepixie-green: rgba(178, 213, 174, 1);
  --raxframerwebsiteblack: rgba(0, 0, 0, 1);
  --raxframerwebsiteseaweed: rgba(19, 40, 16, 1);
  --raxframerwebsitepeppermint: rgba(242, 250, 240, 1);
  --raxframerwebsitela-palma: rgba(40, 148, 25, 1);
  --raxframerwebsiteottoman: rgba(241, 250, 240, 1);
  --raxframerwebsiteshark: rgba(26, 29, 37, 1);
  --raxframerwebsitemirage: rgba(22, 28, 39, 1);
  --raxframerwebsitejapanese-laurel: rgba(255, 144, 0, 1);
  --raxframerwebsitebunker: rgba(19, 24, 32, 1);
  --raxframerwebsitemine-shaft: rgba(34, 34, 34, 1);
  --raxframerwebsitealto: rgba(212, 212, 212, 1);
  --raxframerwebsiteconcrete: rgba(242, 242, 242, 1);
  --raxframerwebsiteblack-50: rgba(0, 0, 0, 0.5);
  --raxframerwebsitecod-gray: rgba(17, 17, 17, 1);
  --raxframerwebsitedusty-gray: rgba(153, 153, 153, 1);
  --raxframerwebsitenero-20: rgba(255, 255, 255, 0.2);
  --raxframerwebsiteblack-5: rgba(0, 0, 0, 0.05);
  --raxframerwebsitethunder: rgba(35, 31, 32, 1);
  --rax-framer-website-DM-mono-regular-84-font-family: "DM Mono", Helvetica;
  --rax-framer-website-DM-mono-regular-84-font-weight: 400;
  --rax-framer-website-DM-mono-regular-84-font-size: 84px;
  --rax-framer-website-DM-mono-regular-84-letter-spacing: -1.5px;
  --rax-framer-website-DM-mono-regular-84-line-height: 84px;
  --rax-framer-website-DM-mono-regular-84-font-style: normal;
  --rax-framer-website-DM-mono-regular-21-font-family: "DM Mono", Helvetica;
  --rax-framer-website-DM-mono-regular-21-font-weight: 400;
  --rax-framer-website-DM-mono-regular-21-font-size: 21px;
  --rax-framer-website-DM-mono-regular-21-letter-spacing: -0.5px;
  --rax-framer-website-DM-mono-regular-21-line-height: 29.399999618530273px;
  --rax-framer-website-DM-mono-regular-21-font-style: normal;
  --rax-framer-website-DM-mono-medium-32-font-family: "DM Mono", Helvetica;
  --rax-framer-website-DM-mono-medium-32-font-weight: 500;
  --rax-framer-website-DM-mono-medium-32-font-size: 32px;
  --rax-framer-website-DM-mono-medium-32-letter-spacing: -1.5px;
  --rax-framer-website-DM-mono-medium-32-line-height: 48px;
  --rax-framer-website-DM-mono-medium-32-font-style: normal;
  --rax-framer-website-DM-mono-medium-18-font-family: "DM Mono", Helvetica;
  --rax-framer-website-DM-mono-medium-18-font-weight: 500;
  --rax-framer-website-DM-mono-medium-18-font-size: 18px;
  --rax-framer-website-DM-mono-medium-18-letter-spacing: 0px;
  --rax-framer-website-DM-mono-medium-18-line-height: 28.799999237060547px;
  --rax-framer-website-DM-mono-medium-18-font-style: normal;
  --rax-framer-website-DM-mono-medium-21-font-family: "DM Mono", Helvetica;
  --rax-framer-website-DM-mono-medium-21-font-weight: 500;
  --rax-framer-website-DM-mono-medium-21-font-size: 21px;
  --rax-framer-website-DM-mono-medium-21-letter-spacing: -0.5px;
  --rax-framer-website-DM-mono-medium-21-line-height: 29.399999618530273px;
  --rax-framer-website-DM-mono-medium-21-font-style: normal;
  --rax-framer-website-DM-mono-medium-16-font-family: "DM Mono", Helvetica;
  --rax-framer-website-DM-mono-medium-16-font-weight: 500;
  --rax-framer-website-DM-mono-medium-16-font-size: 16px;
  --rax-framer-website-DM-mono-medium-16-letter-spacing: 0px;
  --rax-framer-website-DM-mono-medium-16-line-height: 25.600000381469727px;
  --rax-framer-website-DM-mono-medium-16-font-style: normal;
  --rax-framer-website-antonio-regular-64-font-family: "Antonio", Helvetica;
  --rax-framer-website-antonio-regular-64-font-weight: 400;
  --rax-framer-website-antonio-regular-64-font-size: 64px;
  --rax-framer-website-antonio-regular-64-letter-spacing: -0.5px;
  --rax-framer-website-antonio-regular-64-line-height: 89.5999984741211px;
  --rax-framer-website-antonio-regular-64-font-style: normal;
  --rax-framer-website-antonio-regular-24-font-family: "Antonio", Helvetica;
  --rax-framer-website-antonio-regular-24-font-weight: 400;
  --rax-framer-website-antonio-regular-24-font-size: 24px;
  --rax-framer-website-antonio-regular-24-letter-spacing: -0.5px;
  --rax-framer-website-antonio-regular-24-line-height: 33.599998474121094px;
  --rax-framer-website-antonio-regular-24-font-style: normal;
  --rax-framer-website-familjen-grotesk-regular-21-font-family: "Familjen Grotesk", Helvetica;
  --rax-framer-website-familjen-grotesk-regular-21-font-weight: 400;
  --rax-framer-website-familjen-grotesk-regular-21-font-size: 21px;
  --rax-framer-website-familjen-grotesk-regular-21-letter-spacing: 0px;
  --rax-framer-website-familjen-grotesk-regular-21-line-height: 37.79999923706055px;
  --rax-framer-website-familjen-grotesk-regular-21-font-style: normal;
  --rax-framer-website-inter-medium-18-font-family: "Inter", Helvetica;
  --rax-framer-website-inter-medium-18-font-weight: 500;
  --rax-framer-website-inter-medium-18-font-size: 18px;
  --rax-framer-website-inter-medium-18-letter-spacing: 0px;
  --rax-framer-website-inter-medium-18-line-height: 36px;
  --rax-framer-website-inter-medium-18-font-style: normal;
  --rax-framer-website-inter-regular-18-font-family: "Inter", Helvetica;
  --rax-framer-website-inter-regular-18-font-weight: 400;
  --rax-framer-website-inter-regular-18-font-size: 18px;
  --rax-framer-website-inter-regular-18-letter-spacing: 0px;
  --rax-framer-website-inter-regular-18-line-height: 27px;
  --rax-framer-website-inter-regular-18-font-style: normal;
  --rax-framer-website-inter-regular-16-font-family: "Inter", Helvetica;
  --rax-framer-website-inter-regular-16-font-weight: 400;
  --rax-framer-website-inter-regular-16-font-size: 16px;
  --rax-framer-website-inter-regular-16-letter-spacing: 0px;
  --rax-framer-website-inter-regular-16-line-height: 24px;
  --rax-framer-website-inter-regular-16-font-style: normal;
  --rax-framer-website-inter-medium-16-font-family: "Inter", Helvetica;
  --rax-framer-website-inter-medium-16-font-weight: 500;
  --rax-framer-website-inter-medium-16-font-size: 16px;
  --rax-framer-website-inter-medium-16-letter-spacing: 0px;
  --rax-framer-website-inter-medium-16-line-height: 22.399999618530273px;
  --rax-framer-website-inter-medium-16-font-style: normal;
  --rax-framer-website-inter-semi-bold-16-font-family: "Inter", Helvetica;
  --rax-framer-website-inter-semi-bold-16-font-weight: 600;
  --rax-framer-website-inter-semi-bold-16-font-size: 16px;
  --rax-framer-website-inter-semi-bold-16-letter-spacing: 0px;
  --rax-framer-website-inter-semi-bold-16-line-height: 22.399999618530273px;
  --rax-framer-website-inter-semi-bold-16-font-style: normal;
  --rax-framer-website-inter-medium-14-font-family: "Inter", Helvetica;
  --rax-framer-website-inter-medium-14-font-weight: 500;
  --rax-framer-website-inter-medium-14-font-size: 14px;
  --rax-framer-website-inter-medium-14-letter-spacing: 0px;
  --rax-framer-website-inter-medium-14-line-height: 21px;
  --rax-framer-website-inter-medium-14-font-style: normal;
  --rax-framer-website-inter-bold-18-font-family: "Inter", Helvetica;
  --rax-framer-website-inter-bold-18-font-weight: 700;
  --rax-framer-website-inter-bold-18-font-size: 18px;
  --rax-framer-website-inter-bold-18-letter-spacing: 1px;
  --rax-framer-website-inter-bold-18-line-height: 36px;
  --rax-framer-website-inter-bold-18-font-style: normal;
}
