:root {
  --raxwebsitemallard: rgba(37, 70, 32, 1);
  --raxwebsitenero: rgba(255, 255, 255, 1);
  --raxwebsitefern-green: rgba(66, 120, 59, 1);
  --raxwebsitepixie-green: rgba(178, 213, 174, 1);
  --raxwebsiteblack: rgba(0, 0, 0, 1);
  --raxwebsiteseaweed: rgba(19, 40, 16, 1);
  --raxwebsitepeppermint: rgba(242, 250, 240, 1);
  --raxwebsitela-palma: rgba(40, 148, 25, 1);
  --raxwebsiteottoman: rgba(241, 250, 240, 1);
  --raxwebsiteshark: rgba(26, 29, 37, 1);
  --raxwebsitemirage: rgba(22, 28, 39, 1);
  --raxwebsitejapanese-laurel: rgba(255, 144, 0, 1);
  --raxwebsitebunker: rgba(19, 24, 32, 1);
  --raxwebsitemine-shaft: rgba(34, 34, 34, 1);
  --raxwebsitealto: rgba(212, 212, 212, 1);
  --raxwebsiteconcrete: rgba(242, 242, 242, 1);
  --raxwebsiteblack-50: rgba(0, 0, 0, 0.5);
  --raxwebsitecod-gray: rgba(17, 17, 17, 1);
  --raxwebsitedusty-gray: rgba(153, 153, 153, 1);
  --raxwebsitenero-20: rgba(255, 255, 255, 0.2);
  --raxwebsiteblack-5: rgba(0, 0, 0, 0.05);
  --raxwebsitethunder: rgba(35, 31, 32, 1);
  --DM-mono-regular-84-font-family: "DM Mono", Helvetica;
  --DM-mono-regular-84-font-weight: 400;
  --DM-mono-regular-84-font-size: 84px;
  --DM-mono-regular-84-letter-spacing: -1.5px;
  --DM-mono-regular-84-line-height: 84px;
  --DM-mono-regular-84-font-style: normal;
  --DM-mono-regular-21-font-family: "DM Mono", Helvetica;
  --DM-mono-regular-21-font-weight: 400;
  --DM-mono-regular-21-font-size: 21px;
  --DM-mono-regular-21-letter-spacing: -0.5px;
  --DM-mono-regular-21-line-height: 29.399999618530273px;
  --DM-mono-regular-21-font-style: normal;
  --DM-mono-medium-32-font-family: "DM Mono", Helvetica;
  --DM-mono-medium-32-font-weight: 500;
  --DM-mono-medium-32-font-size: 32px;
  --DM-mono-medium-32-letter-spacing: -1.5px;
  --DM-mono-medium-32-line-height: 48px;
  --DM-mono-medium-32-font-style: normal;
  --DM-mono-medium-18-font-family: "DM Mono", Helvetica;
  --DM-mono-medium-18-font-weight: 500;
  --DM-mono-medium-18-font-size: 18px;
  --DM-mono-medium-18-letter-spacing: 0px;
  --DM-mono-medium-18-line-height: 28.799999237060547px;
  --DM-mono-medium-18-font-style: normal;
  --DM-mono-medium-21-font-family: "DM Mono", Helvetica;
  --DM-mono-medium-21-font-weight: 500;
  --DM-mono-medium-21-font-size: 21px;
  --DM-mono-medium-21-letter-spacing: -0.5px;
  --DM-mono-medium-21-line-height: 29.399999618530273px;
  --DM-mono-medium-21-font-style: normal;
  --DM-mono-medium-16-font-family: "DM Mono", Helvetica;
  --DM-mono-medium-16-font-weight: 500;
  --DM-mono-medium-16-font-size: 16px;
  --DM-mono-medium-16-letter-spacing: 0px;
  --DM-mono-medium-16-line-height: 25.600000381469727px;
  --DM-mono-medium-16-font-style: normal;
  --antonio-regular-64-font-family: "Antonio", Helvetica;
  --antonio-regular-64-font-weight: 400;
  --antonio-regular-64-font-size: 64px;
  --antonio-regular-64-letter-spacing: -0.5px;
  --antonio-regular-64-line-height: 89.5999984741211px;
  --antonio-regular-64-font-style: normal;
  --antonio-regular-24-font-family: "Antonio", Helvetica;
  --antonio-regular-24-font-weight: 400;
  --antonio-regular-24-font-size: 24px;
  --antonio-regular-24-letter-spacing: -0.5px;
  --antonio-regular-24-line-height: 33.599998474121094px;
  --antonio-regular-24-font-style: normal;
  --familjen-grotesk-regular-21-font-family: "Familjen Grotesk", Helvetica;
  --familjen-grotesk-regular-21-font-weight: 400;
  --familjen-grotesk-regular-21-font-size: 21px;
  --familjen-grotesk-regular-21-letter-spacing: 0px;
  --familjen-grotesk-regular-21-line-height: 37.79999923706055px;
  --familjen-grotesk-regular-21-font-style: normal;
  --inter-medium-18-font-family: "Inter", Helvetica;
  --inter-medium-18-font-weight: 500;
  --inter-medium-18-font-size: 18px;
  --inter-medium-18-letter-spacing: 0px;
  --inter-medium-18-line-height: 36px;
  --inter-medium-18-font-style: normal;
  --inter-regular-18-font-family: "Inter", Helvetica;
  --inter-regular-18-font-weight: 400;
  --inter-regular-18-font-size: 18px;
  --inter-regular-18-letter-spacing: 0px;
  --inter-regular-18-line-height: 27px;
  --inter-regular-18-font-style: normal;
  --inter-regular-16-font-family: "Inter", Helvetica;
  --inter-regular-16-font-weight: 400;
  --inter-regular-16-font-size: 16px;
  --inter-regular-16-letter-spacing: 0px;
  --inter-regular-16-line-height: 24px;
  --inter-regular-16-font-style: normal;
  --inter-medium-16-font-family: "Inter", Helvetica;
  --inter-medium-16-font-weight: 500;
  --inter-medium-16-font-size: 16px;
  --inter-medium-16-letter-spacing: 0px;
  --inter-medium-16-line-height: 22.399999618530273px;
  --inter-medium-16-font-style: normal;
  --inter-semi-bold-16-font-family: "Inter", Helvetica;
  --inter-semi-bold-16-font-weight: 600;
  --inter-semi-bold-16-font-size: 16px;
  --inter-semi-bold-16-letter-spacing: 0px;
  --inter-semi-bold-16-line-height: 22.399999618530273px;
  --inter-semi-bold-16-font-style: normal;
  --inter-medium-14-font-family: "Inter", Helvetica;
  --inter-medium-14-font-weight: 500;
  --inter-medium-14-font-size: 14px;
  --inter-medium-14-letter-spacing: 0px;
  --inter-medium-14-line-height: 21px;
  --inter-medium-14-font-style: normal;
  --inter-bold-18-font-family: "Inter", Helvetica;
  --inter-bold-18-font-weight: 700;
  --inter-bold-18-font-size: 18px;
  --inter-bold-18-letter-spacing: 1px;
  --inter-bold-18-line-height: 36px;
  --inter-bold-18-font-style: normal;
}
